<!DOCTYPE html>
<div ng-controller="forgot">

<head>

  <meta charset="UTF-8">

  <title>service-forgotpassword</title>

  <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>

    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />

</head>

<body>
<style>
body
{
background-image:url('service.jpg')
}
</style>
<br><br><br>
  <div class="login-card">
    <h1>Customer</h1>
    <h2>Forgot Password</h2><br>
  <form>
    <input type="text" ng-model="email" placeholder="Enter your Mail">
    <input type="submit" ng-model="submit" class="login login-submit" value="submit" ng-click = forpass()>
  </form>

  <div class="login-help">
  </div>
</div>

<!-- <div id="error"><img src="https://dl.dropboxusercontent.com/u/23299152/Delete-icon.png" /> Your caps-lock is on.</div> -->

  <script src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js'></script>

</body>

</div>