
<div  ng-controller="rctrl">



  <title>Service-Resetpassword</title>

  <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>

    <link rel='stylesheet' href='css/style.css' media='screen' type='text/css'>
<style>
body
{
background-image:url('service.jpg')
}
</style>


<div>
<br><br><br>
  <div class="login-card">
    
    <h1>Reset password</h1><br>
  <form>
	<input type="email" ng-model = "email" placeholder = "email">
    <input type="password" ng-model="newpass" placeholder="New Password">
    <input type="password" ng-model="repass" placeholder="Re-type Password">
    <input type="submit" ng-model="login" class="login login-submit" value="submit" ng-click= reset()>
  </form>

  
</div>

<!-- <div id="error"><img src="https://dl.dropboxusercontent.com/u/23299152/Delete-icon.png" /> Your caps-lock is on.</div> -->

  <script src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js'></script>

</div>

</div>